.dot {
    height: 5px;
    width: 5px;
    background-color: #2844C3;
}




.white-image-button {
    background-color: transparent;
    background-image: url('../../assets/img/whiteBtn.svg');
    background-size: contain;
    /* Ensures the image covers the entire button */
    background-position: center;
    /* Centers the image */
    border: none;
    /* Removes the default button border */
    font-size: 16px;
    /* Text size */
    text-align: center;
    /* Centers the text */
    line-height: 50px;
    /* Centers the text vertically */
    cursor: pointer;
    /* Changes the cursor to pointer on hover */
    display: inline-block;
    background-repeat: no-repeat;
}

.image-button:hover {
    opacity: 0.8;
    /* Adds a slight opacity change on hover */
}


@media (max-width: 768px) {
    .topBar {
        clip-path: none;
    }
}