@font-face {
  font-family: 'space-mission';
  src: url('./assets/font/space_mission/SPACE\ MISSION.otf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins/Poppins-Thin.otf');
}

.main-bg {
  background-color: #05061E;
}

.top-bg {
  background-image: url(./assets/img/topBg.svg);
}

.blueBtn {
  background-image: url(./assets/img/blueBtnBg.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  border: 0;
  padding: 34px;
}

.text-blue {
  color: #2844C3
}

.text-dark-blue {
  color: #1F307E
}

.text-white-80 {
  color: rgba(255, 255, 255, 0.8);
}

.w-fitContent {
  width: fit-content;
}

.w-18ch {
  width: 18ch;
}

.h-300 {
  height: 300px;
}

.font-space {
  font-family: 'space-mission';
}

.font-poppins {
  font-family: 'Poppins';
}

.fs-18 {
  font-size: 18px;
}

.fs-36 {
  font-size: 36px;
}

.fs-7vw {
  font-size: 7vw
}

.fs-5vw {
  font-size: 5vw
}

.videoClip {
  width: 80%;
  height: 32%;
  margin: 0 auto;
}

.videoClip video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.videoClip .video-control-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.videoClip .video-control-btn img {
  width: 50px;
  /* Adjust size as needed */
  height: 50px;
  /* Adjust size as needed */
}

.HalfImg {
  width: 50%;
  height: 400px;
}

.text-white-1 {
  color: rgba(255, 255, 255, 1);
}

.buttonToParallelogram {
  bottom: -10%;
  left: 10%;
}